.dark-table {
  background-color: #333; /* Dark color of your choice */
  color: white; /* Text color for better readability on dark background */
}
.dark-table th, .dark-table td, .dark-table thead tr {
  border-color: #555; /* Darker border color */
  background-color: #333; /* Dark color of your choice */
  color: white; /* Text color for better readability on dark background */
}