<nav class="row">
  <div class="col-6">
    <ul class="list">
      <li>
        <a class="button" routerLink="/iskanje">Top tedna</a>
      </li>
      <li>
        <a class="button" routerLink="/iskanje">Popularno</a>
      </li>
      <li>
        <a class="button" routerLink="/iskanje">Novo</a>
      </li>
    </ul>

  </div>
  <div class="col-6">
    <app-ratio></app-ratio>
    <div>
      notfication icon
    </div>
    <div>
      <a routerLink="/profil/moj-profil">Moj profil</a>
      <img src="assets/images/no-pfp.png" alt="Moj profil">
    </div>
  </div>
</nav>