<nav class="row">
  <div class="col-6 text-start">
    <ul class="list left-list">
      <li>
        <a class="button" routerLink="/iskanje">Top tedna</a>
      </li>
      <li>
        <a class="button" routerLink="/iskanje">Popularno</a>
      </li>
      <li>
        <a class="button" routerLink="/iskanje">Novo</a>
      </li>
    </ul>

  </div>
  <div class="col-6 text-end">
    <ul class="list right-list">
      <li>
        <app-ratio></app-ratio>
      </li>
      <li>
        <button class="button">
          <img src="assets/images/notification.png" alt="Notification icon" width="20">
        </button>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link text-center" id="o-nas-dropdown-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="my-profile-container button">
            Moj profil
            <img 
                [src]="profilePictureUrl"
                alt="Profilna slika" class="profile-pic" width="20" height="20"
            > 
          </div>
        </a>
        <div class="dropdown-menu text-center" aria-labelledby="o-nas-dropdown-link">
            <a class="dropdown-item" [routerLink]="['/u', this.uid]">Moj profil</a>
            <a class="dropdown-item" routerLink="/nastavitve">Nastavitve</a>
            <a class="dropdown-item" routerLink="/ustvari">Ustvari torrent</a>
            <a class="dropdown-item" id="logout-dropdown" (click)="logout()">Odjava</a>
        </div>
      </li>
    </ul>




  </div>
</nav>