<app-sudo-nav></app-sudo-nav>
<div class="row container-profile">
  <div class="row profile-info">

    <div class="col-10">
      <div class="row user-data">

        <div class="col-4 img-cont">
          <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="profile-pic" width="200">
        </div>

        <div class="col-8 name-cont">
          <div class="name-container">
            <div class="username-cont">
              <h3 class="username">string</h3>
              <img src="assets/images/red-ratio.png" alt="Delilno razmerje">  
            </div>
          </div>
          <p class="user-role">Uploader</p>
        </div>

      </div>

      <div class="user-stats">
        <ul class="list">
          <li>
            <div class="title">Delilno razmerje</div>
            <div class="value">15,1</div>
          </li>
          <li>
            <div class="title">Upload</div>
            <div class="value">15,1</div>
          </li>
          <li>
            <div class="title">Download</div>
            <div class="value">15,1</div>
          </li>
          <li>
            <div class="title">Naloženih</div>
            <div class="value">15</div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-2 joined-data">
      <span>Pridružil dne</span>
      <p>15.6.2023</p>
    </div>
  </div>

  <app-profile-torrents torrentType="liked"></app-profile-torrents>

</div>