<div class="row">
    <div class="col-12 col-lg-8 p-4">
        <h2>O potegni.me</h2>
        <p>
            Za zaključno nalogo sem v 4. letniku izdelal torrent iskalnik potegni.me. <br>
            Začelni del (frontend) aplikacije sem izdelal s pomočjo ogrodja Angular, za zaledni del pa sem uporabil
            ASP.NET, z vgrajenimi API-ji in knjižnjicami za izboljšano funkcionalnost.
        </p>
        <p>
            Iskanje torrentov omogoča npm knjižnjica <a
                href="https://www.npmjs.com/package/torrent-search-api?activeTab=readme" target="_blank"
                class="hidden-link">torrent-search-api</a>,
            priporočila na domači in razišči strani pa <a href="https://www.themoviedb.org/" target="_blank"
                class="hidden-link">TMDB API</a>.
        </p>
        <p>
            Spletna aplikacija ni torrent sledilnik (kot npr. <a href="https://www.partis.si" target="_blank"
                class="hidden-link">partis.si</a>), temveč služi kot iskalnik torrentov iz drugih sledilnikov:
        </p>
        <ul>
            <li>
                <a href="https://thepiratebay.org/" target="_blank" class="hidden-link">The Pirate Bay</a>
            </li>
            <li>
                <a href="https://yts.mx/" target="_blank" class="hidden-link">YTS</a>
            </li>
            <li>
                <a href="https://torrentproject.cc/" target="_blank" class="hidden-link">TorrentProject</a>
            </li>
        </ul>

        <p>
            potegni.me je odprtokodna programska oprema. Celotna izvorna koda je dostopna na GitHub-u pod <a
                routerLink="/licenca" class="hidden-link">odprtokodno licenco MIT</a>.<br>
            <a href="https://github.com/lebaaar/potegnime-angular" target="_blank" class="hidden-link">Angular
                frontend</a>&nbsp;
            <a href="https://github.com/lebaaar/potegnime-api" target="_blank" class="hidden-link hidden">ASP.NET
                backend</a>
        </p>

        <address>
            &copy; Lan Lebar <br>
            <a href="https://www.linkedin.com/in/lan-lebar/" target="_blank" class="hidden-link">LinkedIn</a>
            <br>
            <a href="https://github.com/lebaaar" target="_blank" class="hidden-link">GitHub</a>
        </address>

    </div>
    <div class="col-12 col-lg-4 img-cont">
        <a routerLink="/">
            <img src="/assets/images/logo.png" alt="potegni.me">
        </a>
    </div>
</div>