<h2><a routerLink="/razisci">Razišči</a></h2>
<div class="row home-torrents">
  <table class="top-rec-table">
    <thead>
      <tr>
        <th scope="col" class="text-center">Popularno</th>
        <th scope="col" class="text-center">Najbolj ocenjeno</th>
        <th scope="col" class="text-center">Zdaj v kinu</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul class="list-unstyled">
            @for (movie of popularMovies | slice: 0 : 5; track movie) {
              <li class="d-flex align-items-start mb-2 li-movie" (click)="searchTitle(movie.title)">
                <img
                  [src]="posterUrl + movie.imageUrl"
                  class="img-fluid mr-2"
                  alt="{{ movie.title }}"
                />
                <div class="m-auto">
                  <h5 class="mb-0">{{ movie.title }}</h5>
                  <p class="genres">{{ movie.genres.join(', ') }}</p>
                </div>
              </li>
            }
            <li class="li-more" (click)="seeMore('popular')">
              <p>Ogled vseh...</p>
            </li>
          </ul>
        </td>
        <td>
          <ul class="list-unstyled">
            @for (movie of topRatedMovies | slice: 0 : 5; track movie) {
              <li class="d-flex align-items-start mb-2 li-movie" (click)="searchTitle(movie.title)">
                <img
                  [src]="posterUrl + movie.imageUrl"
                  class="img-fluid mr-2"
                  alt="{{ movie.title }}"
                />
                <div class="m-auto">
                  <h5 class="mb-0">{{ movie.title }}</h5>
                  <p class="genres">{{ movie.genres.join(', ') }}</p>
                </div>
              </li>
            }
            <li class="li-more" (click)="seeMore('topRated')">
              <p>Ogled vseh...</p>
            </li>
          </ul>
        </td>
        <td>
          <ul class="list-unstyled">
            @for (movie of nowPlayingMovies | slice: 0 : 5; track movie) {
              <li class="d-flex align-items-start mb-2 li-movie" (click)="searchTitle(movie.title)">
                <img
                  [src]="posterUrl + movie.imageUrl"
                  class="img-fluid mr-2"
                  alt="{{ movie.title }}"
                />
                <div class="m-auto">
                  <h5 class="mb-0">{{ movie.title }}</h5>
                  <p class="genres">{{ movie.genres.join(', ') }}</p>
                </div>
              </li>
            }
            <li class="li-more" (click)="seeMore('nowPlaying')">
              <p>Ogled vseh...</p>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
