.home-torrents {
    background-color: var(--page-component);
    border-radius: var(--border-radius);
    padding: 10px;
    padding-bottom: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}
.top-rec-table {
    width: 100%;
    table-layout: fixed;
}
.top-rec-table th, .top-rec-table td {
    width: 33.33%;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
thead tr th {
    padding: 12px;
    font-size: 1.2em;
}
h2 {
    margin-top: 1em;
    text-align: center;
}
h2 a {
    text-decoration: none;
    color: var(--white);
}
ul {
    margin-bottom: 5px;
}

.li-movie {
    padding: 3px;
    border-radius: var(--border-radius);
    transition: all 0.3s;
}
.li-movie:hover {
    background-color: var(--darkgray);
    cursor: pointer;
}
.li-movie img {
    border-radius: var(--border-radius);
    margin-right: 5px;
    height: auto;
    width: 75px;
}
.li-movie div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin: auto;
}
.li-movie h5 {
    text-align: center;
    font-weight: bold;
}
.li-movie .genres {
    text-align: center;
    font-weight: normal;
    margin-top: 5px;
}


.li-more {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    transition: all 0.3s;
}
.li-more p {
    padding: 5px;
    margin: auto;
}
.li-more p a {
    text-decoration: none;
    color: var(--white);
}
.li-more:hover {
    background-color: var(--darkgray);
    cursor: pointer;
}