<div class="search-bar">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <div class="input-top-row">
            <input type="text" id="search-input" formControlName="query" placeholder="Iskanje...">
            <button type="submit" class="search-button" id="search-button">
                <img src="assets/images/search-icon.png" class="search-img" alt="Iskanje" width="20px" height="20px">
            </button>
        </div>

        <div class="options-search">
            <input type="button" class="options-button" name="predlagaj" id="predlagaj-button" value="Preseneti me" (click)="searchRandomTitle()">

            <div class="dropdown-container">
                <label for="source">Vir</label>
                <select [(ngModel)]="selectedProvider" (change)="onProviderChange(selectedProvider)" class="dropdown"
                    formControlName="source" id="source" name="source">
                    <option *ngFor="let provider of providers" [value]="provider">{{translate(provider)}}</option>
                </select>
            </div>

            <div class="dropdown-container">
                <label for="category">Kategorija</label>
                <select *ngIf="categories && categories.length > 0" (change)="onCategoryChange()" class="dropdown"
                    formControlName="category" id="category" name="category">
                    <option *ngFor="let category of categories" [value]="category">{{translate(category)}}</option>
                </select>
            </div>

            <div class="dropdown-container">
                <label for="sort">Sortiranje</label>
                <select class="dropdown" formControlName="sort" id="sort" name="sort" [(ngModel)]="sort" (change)="onSortChange(sort)">
                    <option value="default">Privzeto</option>
                    <option value="name-asc">Imenu ↑</option>
                    <option value="name-desc">Imenu ↓</option>
                    <option value="uploader-asc">Uploader ↑</option>
                    <option value="uploader-desc">Uploader ↓</option>
                    <option value="date-asc">Datumu ↑</option>
                    <option value="date-desc">Datumu ↓</option>
                    <option value="seed-asc">Seed ↑</option>
                    <option value="seed-desc">Seed ↓</option>
                    <option value="peer-asc">Peers ↑</option>
                    <option value="peer-desc">Peers ↓</option>
                    <option value="size-asc">Velikosti ↑</option>
                    <option value="size-desc">Velikosti ↓</option>
                </select>
            </div>
        </div>

    </form>
</div>