<!--TODO
Using SendGrid Event  Webhook, count the number of emails sent per email address to prevent abuse
-->
<h2 *ngIf="!isSubmitted && !sendGridLimitExceeded">Pozabljeno geslo</h2>
<div *ngIf="!isSubmitted && !sendGridLimitExceeded">
    <p class="forgot-text mx-auto">Na vnešeni e-naslov, vam bomo poslali povezavo za ponastavitev gesla.</p>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div>
            <input type="email" id="email" name="email" placeholder="E-pošta" required formControlName="email">
        </div>
        <button type="submit" [disabled]="forgotPasswordForm.invalid" class="send-button">Pošlji</button>
    </form>
</div>

<div *ngIf="isSubmitted && !sendGridLimitExceeded">
    <p class="forgot-text mx-auto">
        Če je navedeni e-poštni naslov povezan z računom, boste kmalu prejeli povezavo za ponastavitev gesla.
        <br>
        Preverite tudi mapo z neželeno pošto (spam).
    </p>
</div>

<div *ngIf="sendGridLimitExceeded">
    <p class="forgot-text mx-auto">
        Trenunto vam ne moremo poslati e-pošte. Za pošiljanje e-pošte uporabljamo storitev <a
            href="https://sendgrid.com/en-us/pricing">SendGrid</a>, kjer smo omejeni na
        100 e-poštnih sporočil na dan. Prosimo, da poskusite znova pozneje.
        <br>
        <br>
        Za izboljšanje uporabniške storitve, vas prosimo, da razmislite o <a routerLink="-donacije">donaciji</a>.
    </p>
</div>

<p class="url-white"><a routerLink="/prijava">Nazaj na prijavo</a></p>