// Inputs
input {
    box-sizing: border-box;
    width: 100%;
    color: white;
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid var(--button-background);
}

@media (max-width: 768px) {
    input {
        width: 100%;
    }
}

button.send-button {
    width: 150px;
    background: linear-gradient(var(--dark-purple), var(--light-purple) 100%);
    border-radius: 20px;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 20px;
}

button.send-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.url {
    padding: 20px 0;
}