<!--TODO
Add timeout, max 3 emails per day/per user
Add counter in database for the ammount of emails sent per day
    If more than free SendGrid limit, display sorry message, try again tommorow
    Display to donate page (so we can afford paid SendGrid)
-->
<h2>Pozabljeno geslo</h2>
<div *ngIf="!isSubmitted">
    <p class="forgot-text mx-auto">Na vnešeni e-naslov, vam bomo poslali povezavo za ponastavitev gesla.</p>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div>
            <input type="email" id="email" name="email" placeholder="E-pošta" required formControlName="email">
        </div>
        <button type="submit" [disabled]="forgotPasswordForm.invalid" class="send-button">Pošlji</button>
    </form>
</div>

<div *ngIf="isSubmitted">
    <p class="forgot-text mx-auto">
        Če je navedeni e-poštni naslov povezan z računom, boste kmalu prejeli povezavo za ponastavitev gesla.
        <br>
        Preverite tudi mapo z neželeno pošto (spam).
    </p>
</div>

<p class="url-white"><a routerLink="/prijava">Nazaj na prijavo</a></p>