<footer class="row">

  <div class="col-4 text-center">
    <a routerLink="/iskanje">
      <h3>Torrenti</h3>
    </a>
    <ul>
      <li>
        <a routerLink="/iskanje">Filmi</a>
      </li>
      <li>
        <a routerLink="/iskanje">Risanke</a>
      </li>
      <li>
        <a routerLink="/iskanje">Programi</a>
      </li>
    </ul>
  </div>

  <div class="col-4 text-center">
    <a routerLink="/profil/moj-profil">
      <h3>Profil</h3>
    </a>
    <ul>
      <li>
        <a routerLink="/profil/moj-profil">Moj profil</a>
      </li>
      <li>
        <a routerLink="/profil/nastavitve">Nastavitve</a>
      </li>
      <li>
        <a routerLink="/profil/ustvari">Ustvari torrent</a>
      </li>
    </ul>
  </div>

  <div class="col-4 text-center">
    <a routerLink="/o-nas">
      <h3>potegni.ga</h3>
    </a>
    <ul>
      <li>
        <a routerLink="/o-nas">O nas</a>
      </li>
      <li>
        <a routerLink="/donacije">Donacije</a>
      </li>
      <li>
        <a routerLink="/pogoji">Pravila in pogoji</a>
      </li>
    </ul>
  </div>

</footer>