<footer class="row">
  <div class="col-4 text-center">
    <h3>Torrenti</h3>
    <ul>
      <li>
        <a routerLink="/iskanje">Filmi</a>
      </li>
      <li>
        <a routerLink="/iskanje">Risanke</a>
      </li>
      <li>
        <a routerLink="/iskanje">Programi</a>
      </li>
    </ul>
  </div>
  <div class="col-4 text-center">
    <h3>Profil</h3>
    <p>
      <a routerLink="/profil/moj-profil">Moj profil</a>
    </p>
    <p>
      <a routerLink="/profil/nastavitve">Nastavitve</a>
    </p>
    <p>
      <a routerLink="/profil/ustvari">Ustvari torrent</a>
    </p>
  </div>
  <div class="col-4 text-center">
    <h3>114.si</h3>
    <p>
      <a routerLink="/o-nas">O nas</a>
    </p>
    <p>
      <a routerLink="/donacije">Donacije</a>
    </p>
    <p>
      <a routerLink="/pogoji">Pravila in pogoji</a>
    </p>
  </div>
</footer>