<app-sudo-nav *ngIf="isMyPage"></app-sudo-nav>
<div class="row container-profile">
    <div class="row profile-info">

        <div class="row user-data mb-3">

            <div class="col-3 img-cont">
                <img 
                    [src]="profilePictureUrl"
                    [alt]="username" [title]="username" class="profile-pic" 
                    width="200" height="200"
                >
            </div>

            <div class="col-9 name-cont">
                <div class="username-cont">
                    <h3 class=" m-0 p-0 username">{{ username }}</h3>
                    <p class="role mt-1">{{ role }}</p>
                    <div class="title">Pridružil dne</div>
                    <div class="value">{{ joined }}</div>
                </div>
            </div>
        </div>
    </div>
</div>