.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: var(--border-radius);
    margin: 0 auto;
    display: block;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 992px) {
    .name-cont {
        margin: auto;
        text-align: center;
    }
}

.spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
}