<div class="container row">
  <div class="col-4 text-cetner">
    <h1>114.si</h1>
    <p>Modern slovenski torrent sledilnik</p>
  </div>
  <div class="col-6 text-center">
    <h1>Prijava</h1>
    <form (ngSubmit)="onSubmit()" >  
      <div>
        <label for="username">Uporabniško ime</label>
        <input type="text" id="username" name="username" [(ngModel)]="userLoginDto.username" placeholder="Vnesi uporabniško ime" required>
      </div>
    
      <div>
        <label for="password">Geslo</label>
        <input type="password" id="password" name="password" [(ngModel)]="userLoginDto.password" placeholder="Vnesi geslo" required> 
      </div>
    
      <button type="submit" class="btn btn-primary">Prijava</button>
      
    
    </form>
    
    <p>Še nimaš računa? <a routerLink="/registracija">Registriraj se!</a></p>

    <div *ngIf="showLoginError">
      Napačno uporabniško ime ali geslo!
    </div>
        
  </div>
</div>
