@if (displayLoadingSpinner) {
  <app-loading-spinner [active]="displayLoadingSpinner" [overlay]="true"></app-loading-spinner>
}
<h2>Razišči</h2>
<div class="mb-2">
  <div class="row">
    <div class="col-1 img-cont">
      <img id="question-icon" src="assets/images/question-icon.png" alt="O rezultatih" />
    </div>
    <div class="col-11 center-cont">
      <p>
        Vir podatkov:
        <a href="https://www.themoviedb.org/" target="_blank">TMDB</a>
      </p>
    </div>
  </div>
</div>

<div class="row control-container">
  <div class="col-4 sel-cont">
    <label for="sectionSelect">Prikaži</label>
    <select name="sectionSelect" id="sectionSelect" class="select" (change)="onSectionDropdownChanged($event.target)">
      <option value="popular">Popularno</option>
      <option value="nowPlaying">Zdaj v kinu</option>
      <option value="topRated">Najbolj ocenjeno</option>
      <option value="upcoming">Kmalu v kinu</option>
      <option value="trendingMovie">Trending filmi</option>
      <option value="trendingTv">Trending TV</option>
    </select>
  </div>
  <div class="col-4 sel-cont">
    <label for="langSelect">Jezik</label>
    <select name="langSelect" id="langSelect" class="select" (change)="updateLanguage($event.target)">
      <option value="sl-SI" selected>Slovenščina</option>
      <option value="en-US">Angleščina</option>
    </select>
  </div>
  <div class="col-4 sel-cont">
    <label for="regionSelect">Regija</label>
    <select name="regionSelect" id="regionSelect" class="select" (change)="updateRegion($event.target)">
      <option value="sl-SI" selected>Slovenija</option>
      <option value="en-US">Z.D.A.</option>
    </select>
  </div>
</div>

<div class="container mt-4">
  <h3 class="sectionTitle" id="popular">Popularno</h3>
  @if (popularMovies) {
    <div class="row mb-5">
      @for (movie of popularMovies; track movie) {
        <div class="col-md-4 mb-4" (click)="searchTitle(movie.title)">
          <div class="card" title="{{ movie.description }}">
            <img [src]="posterUrl + movie.imageUrl" class="card-img-top" [alt]="movie.title" />
            <div class="card-body">
              <h5 class="card-title">
                {{ movie.title }}
              </h5>
              <p class="card-text">
                {{ movie.description }}
              </p>
              <p class="card-text">
                <small>Datum izdaje: {{ movie.releaseDate | date: 'd.M.y' }}</small>
              </p>
              <p class="card-text">
                <small>Kategorije: {{ movie.genres.join(', ') }}</small>
              </p>
            </div>
          </div>
        </div>
      }
    </div>
  }
  @if (popularMovies.length === 0) {
    <p class="text-center no-results">Ni rezultatov :(</p>
  }
</div>

<div class="container mt-4">
  <h3 class="sectionTitle" id="nowPlaying">Zdaj v kinu</h3>
  @if (nowPlayingMovies) {
    <div class="row mb-5">
      @for (movie of nowPlayingMovies; track movie) {
        <div class="col-md-4 mb-4" (click)="searchTitle(movie.title)">
          <div class="card" title="{{ movie.description }}">
            <img [src]="posterUrl + movie.imageUrl" class="card-img-top" [alt]="movie.title" />
            <div class="card-body">
              <h5 class="card-title">
                {{ movie.title }}
              </h5>
              <p class="card-text">
                {{ movie.description }}
              </p>
              <p class="card-text">
                <small>Datum izdaje: {{ movie.releaseDate | date: 'd.M.y' }}</small>
              </p>
              <p class="card-text">
                <small>Kategorije: {{ movie.genres.join(', ') }}</small>
              </p>
            </div>
          </div>
        </div>
      }
    </div>
  }
  @if (nowPlayingMovies.length === 0) {
    <p class="text-center no-results">Ni rezultatov :(</p>
  }
</div>

<div class="container mt-4">
  <h3 class="sectionTitle" id="topRated">Najbolj ocenjeno</h3>
  @if (topRatedMovies) {
    <div class="row mb-5">
      @for (movie of topRatedMovies; track movie) {
        <div class="col-md-4 mb-4" (click)="searchTitle(movie.title)">
          <div class="card" title="{{ movie.description }}">
            <img [src]="posterUrl + movie.imageUrl" class="card-img-top" [alt]="movie.title" />
            <div class="card-body">
              <h5 class="card-title">
                {{ movie.title }}
              </h5>
              <p class="card-text">
                {{ movie.description }}
              </p>
              <p class="card-text">
                <small>Datum izdaje: {{ movie.releaseDate | date: 'd.M.y' }}</small>
              </p>
              <p class="card-text">
                <small>Kategorije: {{ movie.genres.join(', ') }}</small>
              </p>
            </div>
          </div>
        </div>
      }
    </div>
  }
  @if (topRatedMovies.length === 0) {
    <p class="text-center no-results">Ni rezultatov :(</p>
  }
</div>

<div class="container mt-4">
  <h3 class="sectionTitle" id="upcoming">Kmalu v kinu</h3>
  @if (upcomingMovies) {
    <div class="row mb-5">
      @for (movie of upcomingMovies; track movie) {
        <div class="col-md-4 mb-4" (click)="searchTitle(movie.title)">
          <div class="card" title="{{ movie.description }}">
            <img [src]="posterUrl + movie.imageUrl" class="card-img-top" [alt]="movie.title" />
            <div class="card-body">
              <h5 class="card-title">
                {{ movie.title }}
              </h5>
              <p class="card-text">
                {{ movie.description }}
              </p>
              <p class="card-text">
                <small>Datum izdaje: {{ movie.releaseDate | date: 'd.M.y' }}</small>
              </p>
              <p class="card-text">
                <small>Kategorije: {{ movie.genres.join(', ') }}</small>
              </p>
            </div>
          </div>
        </div>
      }
    </div>
  }
  @if (upcomingMovies.length === 0) {
    <p class="text-center no-results">Ni rezultatov :(</p>
  }
</div>

<div class="container mt-4">
  <h3 class="sectionTitle" id="trendingMovie">Trending filmi</h3>
  @if (trendingMovies) {
    <div class="row mb-5">
      @for (movie of trendingMovies; track movie) {
        <div class="col-md-4 mb-4" (click)="searchTitle(movie.title)">
          <div class="card" title="{{ movie.description }}">
            <img [src]="posterUrl + movie.imageUrl" class="card-img-top" [alt]="movie.title" />
            <div class="card-body">
              <h5 class="card-title">
                {{ movie.title }}
              </h5>
              <p class="card-text">
                {{ movie.description }}
              </p>
              <p class="card-text">
                <small>Kategorije: {{ movie.genres.join(', ') }}</small>
              </p>
            </div>
          </div>
        </div>
      }
    </div>
  }
  @if (trendingMovies.length === 0) {
    <p class="text-center no-results">Ni rezultatov :(</p>
  }
</div>

<div class="container mt-4">
  <h3 class="sectionTitle" id="trendingTv">Trending TV</h3>
  @if (trendingTvShows) {
    <div class="row mb-5">
      @for (movie of trendingTvShows; track movie) {
        <div class="col-md-4 mb-4" (click)="searchTitle(movie.title)">
          <div class="card" title="{{ movie.description }}">
            <img [src]="posterUrl + movie.imageUrl" class="card-img-top" [alt]="movie.title" />
            <div class="card-body">
              <h5 class="card-title">
                {{ movie.title }}
              </h5>
              <p class="card-text">
                {{ movie.description }}
              </p>
              <p class="card-text">
                <small>Kategorije: {{ movie.genres.join(', ') }}</small>
              </p>
            </div>
          </div>
        </div>
      }
    </div>
  }
  @if (trendingTvShows.length === 0) {
    <p class="text-center no-results">Ni rezultatov :(</p>
  }
</div>
