ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  display: block;
  margin-top: 10px;
}

.address {
  text-decoration: underline;
  cursor: pointer;
  word-wrap: break-word;
}

img {
  margin-left: 5px;
}

a:hover {
  text-decoration: underline;
}

#paypal-logo {
  color: white;
  width: 200px;
  color: white;
}

#paypal-logo:hover {
  cursor: pointer;
  opacity: 0.8;
}
