// Form
form {
    margin: 30px 0;
}

// Input fields
input[type="text"],
input[type="password"] {
    box-sizing: border-box;
    width: 100%;
    color: white;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid var(--button-background);
}

.password-container input[type="text"],
.password-container input[type="password"] {
    width: 100%;
    padding-right: 45px;
}

.password-container {
    position: relative;
}

.password-container i {
    display: inline;
    position: absolute;
    top: 100%;
    margin-left: -50px;
    transform: translateY(-50%);
    cursor: pointer;
}

// Toggle password visibility
.toggle-password {
    position: absolute;
    top: 42%;
    right: -15px;
    transform: translateY(-50%);
    cursor: pointer;
}

.eye-icon {
    color: var(--button-background);
}

button.reset-button {
    width: 200px;
    background: linear-gradient(var(--dark-purple), var(--light-purple) 100%);
    border-radius: 20px;
    border: none;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    cursor: pointer;
}

button.reset-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.reset-error {
    margin-top: 10px;
    color: var(--red-primary);
}

.w-100 {
    width: 100%;
}

@media (max-width: 1024px) {

    .top-row,
    .bottom-row {
        flex-direction: column;
        width: 100%;
    }

    .password-container,
    .top-row input {
        width: 100%;
    }
}

@media (max-width: 768px) {
    button.reset-button {
        width: 100%;
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.reset-error.shake {
    animation: shake 0.3s ease-in-out;
}