<h2>Ponastavi geslo</h2>
<p>
    Vnesite novo geslo za vaš račun
</p>
<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div>
        <div class="password-container">
            <input type="{{ showPassword ? 'text' : 'password' }}" id="password" name="password" placeholder="Geslo"
                required formControlName="password">
            <span class="toggle-password" (click)="togglePasswordVisibility(1)">
                <i class="eye-icon fa-solid" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
            </span>
        </div>
        <div class="password-container">
            <input type="{{ showPasswordConfirm ? 'text' : 'password' }}" id="password-confirm" name="password-confirm"
                placeholder="Potrditev gesla" required formControlName="passwordConfirm">
            <span class="toggle-password" (click)="togglePasswordVisibility(2)">
                <i class="eye-icon fa-solid" [ngClass]="showPasswordConfirm ? 'fa-eye' : 'fa-eye-slash'"></i>
            </span>
        </div>
    </div>
    <button type="submit" [disabled]="resetPasswordForm.invalid" class="reset-button">Ponastavi geslo</button>
</form>

<div class="reset-error" [class.shake]="triggerErrorAnimation">
    <p *ngIf="showResetError">{{ resetErrorMessage }}</p>
</div>