<app-sudo-nav></app-sudo-nav>
<div class="row">
    <div class="col-3">
        <nav>
            <ul class="flex-column">
                <li><a class="side-link" (click)="scrollToSection('uredi')">Uredi profil</a></li>
                <li><a class="side-link" (click)="scrollToSection('zasebnost')">Zasebnost</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-9">
        <div class="settings-section" id="uredi">
            <h3>Uredi profil</h3>
            <hr>
            <form [formGroup]="changeUserDataForm" (ngSubmit)="onChnangeUserDataSubmit()">
                <div class="change-container">
                    <label for="change-user-username">Uporabniško ime:</label>
                    <input type="text" name="change-user-username" id="change-user-username" formControlName="username" class="input">
                </div>
                <div class="change-container">
                    <label for="change-user-email">E-pošta:</label>
                    <input type="text" name="change-user-email" id="change-user-email" formControlName="email" class="input">
                </div>
                <div class="change-container">
                        Profilna slika:
                        <div class="profile-pic-container">
                            <label for="change-user-pfp">
                                <img 
                                    [src]="profilePictureUrl"
                                    alt="{{ username }}" class="profile-pic" width="300" height="300"
                                >       
                                <div class="overlay-text">Spremeni profilno sliko</div>
                            </label>
                        </div>
                        <button *ngIf="this.hasProfilePicture" class="button" id="remove-profile-picture-button" (click)="removeProfilePicture()">
                            Odstrani profilno sliko
                        </button>
                        <input type="file" name="change-user-pfp" id="change-user-pfp" 
                            accept=".jpg, .jpeg, .png .webp .bmp .gif .tiff"
                            (change)="onProfilePictureChange($event)"
                        >
                </div>
                <button 
                    type="submit" class="button"
                >
                    Shrani spremembe
                </button>
            </form>
        </div>

        <div class="settings-section" id="zasebnost">
            <h3>Zasebnost</h3>
            <hr>
            <h4 class="section-title">Sprememba gesla</h4>
            <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePasswordSubmit()">
                <div class="change-container">
                    <label for="change-password-old">Staro geslo:</label>
                    <input type="password" name="change-password-old" id="change-password-old" formControlName="oldPassword" class="input">
                </div>
                <div class="change-container">
                    <label for="change-password-new">Novo geslo:</label>
                    <input type="password" name="change-password-new" id="change-password-new" formControlName="newPassword" class="input">
                </div>
                <div class="change-container">
                    <label for="change-password-repeat">Potrditev novega gesla:</label>
                    <input type="password" name="change-password-repeat" id="change-password-repeat" formControlName="newPasswordRepeat" class="input">
                </div>
    
                <button type="submit" [disabled]="changePasswordForm.invalid" class="button">
                    Shrani spremembe
                </button>
            </form>

            <h4>Izbris profila</h4>
            <form [formGroup]="deleteProfileForm" (ngSubmit)="onDeleteProfileSubmit()">
                <div class="change-container">
                    <label for="delete-profile-password">Geslo:</label>
                    <input type="password" name="delete-profile-password" id="delete-profile-password" formControlName="password" class="input">
                </div>
                <button type="submit" [disabled]="deleteProfileForm.invalid" class="danger-button button" id="delete-profile-button">
                    Izbriši profil
                </button>
            </form>
        </div>


    </div>
</div>