p {
  text-align: justify
}

img {
  max-width: 100%;
}

h2 {
  margin-top: 10px;
}

.hidden-link {
  color: white;
}

.hidden-link:hover {
  color: var(--blue);
}

.button {
  text-decoration: none;
  transition: all 0.3s ease;

  svg g {
    transition: fill 0.3s ease;
  }

  &:hover svg g {
    fill: #7289D7 !important;
  }
}

address {
  margin-top: 50px;
}
@media (max-width: 992px) {
  .img-cont {
    display: none;
  }
}
