* {
    margin: 0;
    padding: 0;
}

* *::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(rgb(0, 0, 0),
            rgb(38, 38, 38),
        );
}

.remix {
    --diameter: 75px;
    --c-white: #fff;
    --c-anti-flash-white: #f3f3f3;
    --c-gainsboro: #ddd;
    --c-mid-gray: #bbb;
    --c-dark-gray: #aaa;
    --c-granite-gray: #666;
    --c-light-periwinkle: #c0c8e3;
    --c-platinum: #e8d4e9;
    --c-violet-100: #d9ccee;
    --c-pink-lavender: #d7b0c5;
    --c-languid-lavender: #cec0e3;
    --c-violet-150: #ccbccd;
    --c-black-shadows: #c6b1bc;
    --c-stale-beige: #eef6d3;
    --c-light-moss-green: #a7dda7;
    flex: 0 0 auto;
    position: relative;
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 9999px;
    border: 2px solid var(--c-gainsboro);
    background-color: var(--c-mid-gray);
    background-image: conic-gradient(var(--c-white),
            var(--c-anti-flash-white),
            var(--c-gainsboro),
            var(--c-mid-gray),
            var(--c-dark-gray),
            var(--c-black-shadows),
            var(--c-pink-lavender),
            var(--c-white),
            var(--c-stale-beige),
            var(--c-light-moss-green),
            var(--c-languid-lavender),
            var(--c-platinum),
            var(--c-pink-lavender),
            var(--c-gainsboro),
            var(--c-anti-flash-white),
            var(--c-white),
            var(--c-gainsboro),
            var(--c-mid-gray),
            var(--c-dark-gray),
            var(--c-black-shadows),
            var(--c-pink-lavender),
            var(--c-white),
            var(--c-stale-beige),
            var(--c-light-moss-green),
            var(--c-light-periwinkle),
            var(--c-languid-lavender),
            var(--c-platinum),
            var(--c-pink-lavender),
            var(--c-mid-gray),
            var(--c-gainsboro),
            var(--c-white));
    clip-path: url(#cd-clip-path);
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.remix::before {
    --diameter: 36px;
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    height: var(--diameter);
    width: var(--diameter);
    border: 6px solid var(--c-granite-gray);
    border-radius: inherit;
    opacity: 0.8;
    mix-blend-mode: hard-light;
}

@media (prefers-reduced-motion) {
    .remix {
        animation-timing-function: linear;
        animation-duration: 8500ms;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
}