.search-bar-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
}

#search-input {
    background-color: var(--button-background);
    color: var(--white);
    border: none;
    border-radius: 4px 0 0 4px;
    padding: 0 10px;
    height: 35px;
}

#search-input::placeholder {
    color: var(--lightgray);
}


.search-button {
    border: none;
    background: linear-gradient(var(--dark-purple), var(--light-purple));
    transition: opacity 0.2s ease-in-out;
    width: 35px;
    height: 35px;
    border-radius: 0 4px 4px 0;
}

.search-img {
    width: 18px;
    height: 18px;
}