<div class="register-page">
    <div class="register-container">
        <div class="register-mobile-top">
            <img src="assets/images/logo.png" alt="potegni.me" class="login-mobile-logo">
        </div>
        <div class="register-left">
            <img src="assets/images/logo-white-background.png" alt="potegni.me" class="register-logo">
            <p>Moderni slovenski torrent iskalnik</p>
        </div>
        <div class="register-right">
            <h1>Registracija</h1>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="top-row">
                    <input type="text" id="username" name="username" placeholder="Uporabniško ime" required
                        formControlName="username">
                    <input type="email" id="email" name="email" placeholder="E-pošta" required formControlName="email">
                </div>
                <div class="bottom-row">
                    <div class="password-container">
                        <input type="{{ showPassword ? 'text' : 'password' }}" id="password" name="password"
                            placeholder="Geslo" required formControlName="password">
                        <span class="toggle-password" (click)="togglePasswordVisibility(1)">
                            <i class="eye-icon fa-solid" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                        </span>
                    </div>
                    <div class="password-container">
                        <input type="{{ showPasswordConfirm ? 'text' : 'password' }}" id="password-confirm"
                            name="password-confirm" placeholder="Potrditev gesla" required
                            formControlName="passwordConfirm">
                        <span class="toggle-password" (click)="togglePasswordVisibility(2)">
                            <i class="eye-icon fa-solid"
                                [ngClass]="showPasswordConfirm ? 'fa-eye' : 'fa-eye-slash'"></i>
                        </span>
                    </div>
                </div>
                <div class="terms-container">
                    <label class="terms-checkbox">
                        <input type="checkbox" id="terms-agreement" name="terms-agreement"
                            formControlName="agreeToTerms" class="hidden-checkbox">
                        <span class="checkmark">
                            <i [ngClass]="agreeToTermsBool ? 'fa-solid fa-square-check' : 'fa-regular fa-square'"></i>
                        </span>
                        Strinjam se s <a routerLink="/pogoji">pravili in splošnimi pogoji uporabe</a>
                    </label>
                </div>
                <button type="submit" [disabled]="registerForm.invalid" class="register-button">Registracija</button>
            </form>
            <p class="login-url">Že imaš račun? <a routerLink="/prijava">Prijavi se!</a></p>
            <div class="register-error">
                <p *ngIf="showRegisterError">{{ registerErrorMessage }}</p>
            </div>
        </div>
    </div>
</div>