<div class="container row">
  <div class="col-4 text-center">
    <h1>potegni.ga</h1>
    <p>Modern slovenski torrent sledilnik</p>
  </div>
  <div class="col-6 text-center">
    <h1>Registracija</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >  
      <div>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Uporabniško ime"
          required
          formControlName="username"
        >
      </div>

      <div>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="E-pošta"
          required
          formControlName="email"
        >
      </div>
    
      <div>
        <input
          type="{{ showPassword ? 'text' : 'password' }}"
          id="password"
          name="password"
          placeholder="Geslo"
          required
          formControlName="password"
        >
        <button type="button" (click)="togglePasswordVisibility(1)">
          {{ showPassword ? 'Hide' : 'Show' }}
        </button>
      </div>

      <div>
        <input
          type="{{ showPasswordConfirm ? 'text' : 'password' }}"
          id="password-confirm"
          name="password-confirm"
          placeholder="Potrditev gesla"
          required
          formControlName="passwordConfirm"
        >
        <button type="button" (click)="togglePasswordVisibility(2)">
          {{ showPasswordConfirm ? 'Hide' : 'Show' }}
        </button>
      </div>

      <div>
        <input
          type="checkbox"
          id="terms-agreement"
          name="terms-agreement"
          unchecked
          formControlName="agreeToTerms">
        <label for="terms-agreement">
          Strinjam se s <a routerLink="/pogoji">Pravili in splošnimi pogoji uporabe</a>
        </label>
      </div>
    
      <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">Registracija</button>
    
    </form>
    
    <p>Že imaš račun? <a routerLink="/prijava">Prijavi se!</a></p>

    <div *ngIf="showRegisterError">
      {{ registerErrorMessage }}
    </div>
        
  </div>
</div>
