<div class="auth-page">
    <div class="auth-container">
        <a routerLink="/prijava">
            <div class="auth-mobile-top">
                <img src="assets/images/logo.png" alt="potegni.me" class="auth-mobile-logo">
            </div>
        </a>
        <div class="auth-left">
            <a routerLink="/prijava">
                <img src="assets/images/logo-white-background.png" alt="potegni.me" class="auth-logo">
                <p>slovenski torrent sledilnik</p>
            </a>
        </div>
        <div class="auth-right">
            <small class="mb-2">[COMING SOON]</small>
            <router-outlet></router-outlet>
        </div>
    </div>

</div>