// Handles page layout, shared url styles

.auth-page {
    background: linear-gradient(to bottom right, var(--page-background) 50%, var(--dark-purple) 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    word-wrap: break-word;
}

.auth-container {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 80%;
    word-wrap: break-word;
}

.auth-mobile-top {
    display: none;
}

.auth-logo {
    width: 230px;
    max-width: 230px;
}

.auth-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 40%;
    text-align: center;
    border-radius: 10px 0 0 10px;
    background: linear-gradient(var(--dark-purple) 40%, #9E00FF 100%);
    color: white;
    padding: 10px;
}

.auth-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    flex: 60%;
    border-radius: 0 10px 10px 0;
    text-align: center;
    background-color: var(--page-component);
    color: white;
    padding: 10px;
}

.auth-right h1 {
    font-size: 35px;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .auth-page {
        background: var(--page-background);
    }

    .auth-container {
        flex-direction: column;
        width: 80%;
        height: auto;
    }

    .auth-mobile-top {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    .auth-mobile-top img {
        width: 200px;
    }

    .auth-left,
    .auth-right {
        padding: 20px;
    }

    .auth-left {
        display: none;
    }

    .auth-right {
        flex: 100%;
        border-radius: 10px;
    }

    .auth-logo {
        width: 50%;
    }

    .auth-left,
    .auth-right {
        padding: 20px;
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.auth-error.shake {
    animation: shake 0.3s ease-in-out;
}