nav ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0;
    margin: 0;

    a {
      display: block;
      padding: 10px 15px;
      color: #fff;
      text-decoration: none;
      border-radius: var(--border-radius);

      &:hover {
        background-color: var(--page-component);
        color: var(--white);
        cursor: pointer;
      }
    }
  }
}

.settings-section {
  margin-bottom: 60px;
}

h4 {
  margin-top: 20px;
}

.change-container {
  margin: 10px 0;
}

.change-container .input {
  width: 100%;
}

.change-container label {
  display: block;
  margin-bottom: 5px;
}

// File upload
input[type='file'] {
  display: none;
}

.profile-pic-container {
  // width is same as image width
  width: 300px;
  height: 300px;
  margin: auto;
  position: relative;
}

.profile-pic {
  aspect-ratio: 1/1;
  border-radius: var(--border-radius);
  object-fit: cover;
  object-position: center;
}

.profile-pic:hover {
  opacity: 0.6;
  cursor: pointer;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  opacity: 0;
  font-size: 18px;
}

.profile-pic-container:hover .overlay-text {
  opacity: 1;
  cursor: pointer;
}

.profile-pic-container:hover .profile-pic {
  opacity: 0.3;
  cursor: pointer;
}

#remove-profile-picture-button {
  margin: auto;
}

// Buttons
.danger-button {
  background-color: var(--red-primary);
}

.danger-button:disabled,
.danger-button:hover {
  background-color: var(--red-secondary);
}

#remove-profile-picture-button {
  margin-top: 20px;
}

.red {
  color: var(--red-primary);
}
