@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import 'ngx-toastr/toastr';

/* 
  Global styles 
*/
:root {
    // Basic colors
    --dark-purple: #590E87;
    --light-purple: #9E00FF;
    --white: #ffffff;
    --lightgray: #b3b3b3
    --darkgray: #5d5d5d;
    --red-primary: #ff0000;
    --red-secondary: #ff6c6c;
    --green-primary: #00ff00;
    --green-secondary: #e5f8f0;

    // Components
    --page-background: #121212;
    --page-component: #1e1e1e;
    --button-background: #5d5d5d;
    --button-background-hover: #4d4d4d;

    // Toast
    --toast-error-primary: #ff8a84;
    --toast-error-secondary: #fd6666;
    --toast-success-primary: #e5f8f0;
    --toast-success-secondary: #32b088;

    // Border radius
    --border-radius: 5px;
}
body {
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    background-color: var(--page-background);
}
.page-component {
    background-color: var(--page-component);
    color: red;
}

// Buttons
.button {
  color: var(--white);
  text-decoration: none;
  padding: 10px 20px;
  background-color: var(--button-background);
  border-radius: var(--border-radius);
}
.button:hover {
  background-color: var(--button-background-hover);
  cursor: pointer;
}


// Lists
ul.list {
  list-style-type: none;
  padding: 0;
}
ul.list li {
  margin: 5px 10px;
  display: inline-block;
}
ul.list li a.button {
  text-decoration: none;
  color: var(--white);
  display: block;
  padding: 5px 10px;
  background-color: var(--button-background);
  border-radius: var(--border-radius);
  transition: background-color 0.1s;
}
ul.list li a.button:hover {
  background-color: var(--button-background-hover);
}

// override ngx-toastr styles
// .toast-success {
//   background-color: var(--toast-success-secondary);
//   border-left: solid 5px var(--toast-success-primary);
// }
// .toast-error {
//   color: var(--toast-error-secondary);
//   background-color: var(--toast-error-primary);
//   border-left: solid 5px var(--toast-error-secondary);
// }
// .toast-warning {
//   background-color: #F89406;
// }