<div>
    <div>
        <img src="" alt="Torrent img">
    </div>
    <div>
        <h2>Torrent title</h2>
        <p>Torrent | quick | tags</p>
        <div>
            <div>
                Potegni ga
            </div>
            <div>
                Magnet link
            </div>
            <div>
                Všečkaj
            </div>
        </div>
        <div>
            <div>
                <div>
                    <p>Prenosov</p>
                    <p>10</p>
                </div>
                <div>
                    <p>Všečkov</p>
                    <p>10</p>
                </div>
            </div>
            <div>
                <div>
                    <p>Sejalceev</p>
                    <p>10</p>
                </div>
                <div>
                    <p>Odjemalcev</p>
                    <p>10</p>
                </div>
            </div>
        </div>
    </div>
</div>