<div class="row home-header">

    <div class="col-4 text-center">
        <img src="assets/images/logo.png" alt="nalozi.si" class="mx-auto">
        <p class="bellow-logo">Modern slovenski torrent sledilnik</p>
    </div>

    <div class="col-4 text-center">
        <ul class="btn-cnt">
            <li class="button">
                <a>Filmi</a>
            </li>
            <li class="button">
                <a routerLink="/nastavitve">Risanke</a>
            </li>
            <li class="button">
                <a routerLink="/ustvari">Programi</a>
            </li>
        </ul>
    </div>

    <div class="col-4 text-center">
        <ul class="btn-cnt">
            <li class="button">
                <a>Serije</a>
            </li>
            <li class="button">
                <a routerLink="/nastavitve">XXX</a>
            </li>
            <li class="button">
                <a routerLink="/ustvari">Igre</a>
            </li>
        </ul>
    </div>

</div>