<div class="row home-header">

    <div class="col-4 text-center d-flex flex-column justify-content-center">
        <div>
            <img src="assets/images/logo.png" alt="potegni.me" class="mx-auto">
            <p class="bellow-logo">Moderni slovenski torrent iskalnik</p>
        </div>
    </div>

    <div class="col-4 text-center">
        <ul class="btn-cnt">
            <li class="button" (click)="searchAdminRecommendationOfTheDay('movie')">
                <p>Film dneva</p>
            </li>
            <li class="button" (click)="searchAdminRecommendationOfTheDay('series')">
                <p>Serija dneva</p>
            </li>
            <li class="button" (click)="searchRandomMovieTitle()">
                <p>Preseneti me</p>
            </li>
        </ul>
    </div>

    <div class="col-4 text-center">
        <ul class="btn-cnt">
            <li class="button" (click)="seeMore('popular')">
                <p>Popularno</p>
            </li>
            <li class="button" (click)="seeMore('trendingMovie')">
                <p>Trending filmi</p>
            </li>
            <li class="button" (click)="seeMore('trendingTv')">
                <p>Trending TV</p>
            </li>
        </ul>
    </div>

</div>