<form [formGroup]="searchForm" (ngSubmit)="onSearch()">
  <div class="search-bar-container">
    <input type="text" id="search-input" formControlName="query" placeholder="Iskanje..." autocomplete="off" spellcheck="false" autocorrect="off" aria-label="Iskanje" aria-describedby="search-button">
    <button type="submit" class="search-button" id="search-button">
      <img src="assets/images/search-icon.png" class="search-img" alt="Iskanje" width="20px" height="20px">
    </button>
  </div>
</form>