<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="d-flex">
      <button class="sudo-button" type="button" routerLink="/profil/moj-profil" routerLinkActive="active-link">Moj profil</button>
      <button class="sudo-button" type="button" routerLink="/profil/nastavitve" routerLinkActive="active-link">Nastavitve</button>
      <button class="sudo-button" type="button" routerLink="/profil/ustvari" routerLinkActive="active-link">Ustvari torrent</button>
    </div>
  
    <div class="d-flex">
      <button class="sudo-button sudo-logout" type="button" (click)="logout()">Odjava</button>
    </div>
  </div>
</nav>
